.cart{
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 999;
    background-color: white;
    padding: 20px;
}
.item_price img{
    width: 80px;
    height: 100px;
    object-fit: cover;
}
.item_price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px ;
} 

.details h1{
    font-size: 18px;
    font-weight: 500;
}
.details p{
    color: gray;
    margin-bottom: 10px;
    font-size: 14px;

}
.price{
  color: #2879fe;
}

.delete{
    color: red;
    font-size: 10px;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}

.reset{
    color: red;
    font-size: 14px;
}
.btn-proce{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #2879fe;
    gap: 20px;
    color: white;
}