.slider{
    height:calc(100vh - 80px);
    width: 100vw;
    position: relative;
}
.container-sli{
    width: 300vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: all 1s ease;
}
.container-sli img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider-icons{
    width: fit-content !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 100px;
    bottom: 100px;
    gap: 10px;
}
.slider-icon1{
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}